/*
     _        _
  __| |_ _  _| |___ ___
 (_-<  _| || | / -_|_-<
 /__/\__|\_, |_\___/__/
         |__/
*/

@define-color background #1b1b1b;
@define-color foreground #f0f0f0;

* {
  border: none;
  border-radius: 0;
  font-family: "SF Pro Text", sans-serif;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: transparent;
}

.modules-center {
  margin-top: 8px;
  padding: 0 4px;
  background: @background;
  color: @foreground;
  border-radius: 16px;
  min-height: 32px;
}

#custom-notifications {
  padding-left: 8px;
  padding-right: 0px;
  color: @foreground;
}

#clock {
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
}

#battery {
  font-weight: bold;
  padding-left: 4px;
  padding-right: 0px;
}

#battery.warning {
  color: #f1c15c;
}

#battery.critical {
  color: #d9534f;
}

#network {
  padding-left: 4px;
  padding-right: 0px;
}

#custom-weather {
  padding-left: 0px;
  padding-right: 8px;
  font-weight: bold;
}
